.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.centerContainer {
    width: 100%;
    padding: 0 20px;
}

.card {
    color: black;
    padding: 16px;
    border-radius: 8px;
    margin: 1px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.1);
    cursor: pointer;
    position: relative;
}

.card-banner1 {
    background: linear-gradient(to right, #4169e1, #00bfff);
    color: white;
    padding: 8px;
    text-align: center;
    position: static;
}

.alignLeft {
    text-align: left;
}

.cardGrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card-content {
    margin-top: 40px;
    /* Add margin to create space between banner and content */
    position: relative;
    /* Ensure relative positioning for content */
}

.card-content-inner {
    padding-top: 1px;
    /* Add padding to separate content from banner */
}